html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
#wrap {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;
}
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  height: 120px;
}
#header {
  margin-bottom: 20px;
}
.pull-right {
  float: right;
}
.twitter-column .fa-link {
  margin-right: -12px;
}
.sketch-picker {
  margin: 0 auto;
}
